body   {
  font-size: 16px;
  color: #00000;
  background-color: #ffff;
  font-family: 'Oxygen', sans-serif;
  margin: 0;
  padding: 0;
}

.main-heading {
  text-align: center;
  color: red;
  font-size: 3.5em;
  margin-bottom: 10px;
}

.sub-heading {
  text-align: center;
  padding-top: 10px;
  color: black;
}

.menu-item-tile  {
	background-color: lightgrey;
	/*font-style: "italic";*/
	padding: 0;
	margin: 0;
	font-size: 1.5em;
}

.menu-item-details {
	padding:  0 15px 15px 15px;
}

#header-nav {
  background-color: lightgrey;
  border-radius: 0;
  border: 0;
  height: static;
  width: 100%;
}

.container {
}

.navbar-brand {
	padding-top: 30px;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #557c3e;
  font-size: 4em;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #951C49;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}


.navbar-header button.navbar-toggle {
	clear: both;
}

/* Hide all the menu items except for the collapsible menu 
on the mobile device.  We will make it visible under extra
small devices */

#collapsable-nav{
	visibility: hidden;
}

/********** large devices only **********/
@media (min-width: 1200px){
}

 /******** medium devices ********/
@media (min-width: 992px) and (max-width: 1199px) {
}

/********** small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {

 }

/********** Extra small devices only **********/
@media (max-width: 767px) {

  #collapsable-nav {
  	clear: both;
	visibility: visible;
}

 #collapsable-nav a {
	color: black;
	font-size: 5vw;
	font-weight: bold;
}
 
 #collapsable-nav hr {
	border: 1px solid black;
	width: 80%;
}

  #header-nav {
  	clear: both;
  	margin-bottom: 10px;
  }
  
  .navbar-brand h1 { /* Restaurant name */
     font-size: 2.5em; /* 1vw = 1% of viewport width */
  }

  .main-heading {
  	font-size: 2.5em;
  }

  .navbar-toggle {
  	clear: both;
  	margin-top: -30px;
  	/*margin-bottom: 10px;*/
  }

  .navbar-brand {
	padding-top: 10px;
  }

}

/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
  /* Header */
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 5px;
    height: auto;
    padding-bottom: 5px;
    font-size: 2em;
  }

   .main-heading {
  	font-size: 2em;
  }

}
