body   {
  font-size: 16px;
  color: #00000;
  background-color: #ffff;
  font-family: 'Oxygen', sans-serif;
}
#header-nav {
  background-color: lightgrey;
  border-radius: 0;
  border: 0;
  height: 100%;
}

.container {
	height: 150px;
}

/*.navbar-brand {
	vertical-align: center;
}
*/
.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #557c3e;
  font-size: 3em;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  /*vertical-align: center;*/
  margin-left: 20px;
 /*
  margin-top: 0;
  margin-bottom: 0;
  vertical-align: center;
  */
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

.main-heading {
	text-align: center;
	color: red;
  font-size: 3em;
  margin-bottom: 20px;
}
.sub-heading {
  /*border: 1px solid black;*/

  /*float: top;*/
  /*padding: 10px;*/
  /*margin: 0 0 10px 10px;*/
  /*font-size: 2em;*/
  text-align: center;
  margin: 10px;
  /*font-size: .5em;*/
  /*background-color: lightgrey;*/
}

.menu-item-tile {
	padding: 10px;
	font-style: "italic";
	/*color: red;*/
 /* margin-top: : 20px;
  margin-bottom: 20px;
*/	
/*  width: auto;
  height: 500px*/
}

.menu-item-tile p {
	/*padding: 10px;*/
	font-style: "italic";
	/*color: red;*/
	font-size: 1.5em;
	/*color: red;*/
 /* margin-top: : 20px;
  margin-bottom: 20px;
*/	
/*  width: auto;
  height: 500px*/
}
.menu-item-tile .sub-heading{
	padding: 10px;
	font-size: 2em;
 /* margin-top: : 20px;
  margin-bottom: 20px;
*/	
/*  width: auto;
  height: 500px*/
}

.jumbotron {
	background-color: lightgrey;
	padding: 0;
	/*width: 100%;*/
	height: 1000px;
	/*border: 1px solid black;*/
}

.menu-item-details p {
	/*width: 100%;*/
	color red;
	font-style: "italic";
  /*font-size: 2em;*/
  /*font-style: italic;*/
}
